@media screen and (max-width: 640px ) {
    div.container {
        padding: 80px 20px;
        }

    .modal > div > div > div.modal-body > form > div:nth-child(1) > code {
        font-size: 1rem;
        line-height: 20px;
        }

    #myPage > nav > div > div {
        display: grid;
        margin-bottom: 10px;

        }

    #tour > div.container > div.row.text-center > h1 {
        margin-top: 100px;
        }

    .list-group-item {
        margin: auto 15px;
        padding: 0;
        list-style: none;
        }

    .list-group-item ul {
        margin: 15px;

        padding: 10px;
        }
    }

@media screen and (max-width: 640px) {

    }

body {
    color: rgb(65, 133, 225);
!important;
    }

div.container {
    padding: 80px 20px;

    }

.list-group-item {
    margin: auto 15px;
    padding: 0;
    list-style: none;
    }

.list-group-item ul {
    margin: 15px;

    padding: 10px;
    }

body {
    font: 700 15px/1.8 Lato, sans-serif;
    color: #777777;
    letter-spacing: 0.5px;
    }

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111111;
    }

.container {
    padding: 80px 120px;
    text-align: center
    }

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    }

.carousel-caption h3 {
    color: #FFFFFF !important;
    }

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
        }
    }

.bg-1 {
    background: url("../img/p2pbg.jpg");
    color: #BDBDBD;
    }

.bg-1 h3 {
    color: #FFFFFF;
    }

.bg-1 p {
    font-style: italic;
    }

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    }

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

.list-group, .list-group li.list-group-item:nth-of-type(1) {
    border-radius: 15px 15px 0 0;
    }

.list-group, li.list-group-item:nth-of-type(3) {
    border-radius: 0 0 15px 15px;
    }

.thumbnail {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    }

.thumbnail p {
    margin-top: 15px;
    color: #555555;
    }

.btn {
    background-color: #333333;
    color: #F1F1F1;
    border-radius: 0;
    transition: .2s;
    }

.btn:hover, .btn:focus {
    border: 1px solid #333333;
    color: white;
    }

.modal-header, h4, .close {
    background-color: #333333;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 30px;
    }

.modal-header, .modal-body {
    padding: 40px 50px;
    }

.nav-tabs li a {
    color: #777777;
    }

a:hover {
    text-decoration: none;
    }

#myPage > nav > div > div {
    margin-top: 10px;
    }

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2D2D30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;

    }

.border {
    border: solid 2px;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    }

.navbar-item {
    padding: 5px 10px;
    margin-top: 3px;
    font-size: 20px;
    text-align: center;
    }

.navbar-item:hover {

    cursor: pointer;
    color: lawngreen;
    }

.navbar li a, .navbar .navbar-brand {
    color: #D5D5D5 !important;
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: rgba(4, 191, 182, 0.46);
    }

.navbar-nav li a:hover {
    color: #FFFFFF !important;
    }

.navbar-nav li.active a {
    color: #FFFFFF !important;
    background-color: #29292C !important;
    }

.navbar-default .navbar-toggle {
    border-color: transparent;
    }

.open .dropdown-toggle {
    color: #FFFFFF;
    background-color: #555555 !important;
    }

.dropdown-menu li a {
    color: #000000 !important;
    }

.dropdown-menu li a:hover {
    background-color: red !important;
    }

footer {
    background-color: #2D2D30;
    color: #F5F5F5;
    }

footer a {
    color: #F5F5F5;
    font-size: 2rem;
    }

footer a:hover {
    color: #777777;
    text-decoration: none;
    }

footer p {
    text-align: center;

    }

.form-control {
    border-radius: 0;
    }

textarea {
    resize: none;
    }

.address {
    overflow: hidden;
    }

h2.text-center {
    color: white;
    text-shadow: 5px 5px 5px 5px black;
    font-weight: 900;
    vertical-align: center;
    height: 40px;
    border-radius: 20px;
    }

.entry-section {
    color: white;
    border-radius: 30px;
    background-color: rgba(52, 62, 89, 0.83);
    }

div.how-to {
    text-align: center;
    padding: auto;
    margin: auto;
    color: white;
    }

div.how-to section p {
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.51);
    border-radius: 15px;
    }

footer img{
    size: auto;
    margin: 0 auto;
    padding: 0 auto;
    }
